.background-img{
  background-image: url("../../asset/images/background/Rectangle1.png"); 
    height: 94.5vh;
    width: 690px;
    background-size:cover;
    background-repeat: no-repeat;
          
}
.background-img2{
  background-image: url("../../asset/images/background/Rectangle2.png"); 
    height: 94.5vh;
    width: 690px;
    background-size:cover;
    background-repeat: no-repeat;
   
          
}
.iphone1{
  position: relative;
 z-index: 2;
 margin-left: 50px;
}
.iphone2{
position:absolute;
right: 50px;
z-index: 1;
margin-top: 30px;

}
.iphone3{
  position: absolute;
 z-index: 2;
 margin-right: 125px;
}
.iphone4{
position: relative;
left: 276px;
z-index: 1;
margin-top: 30px;

}

.product-container{
  width: 1240px;
  height: 585px;
  
}
.product-btn{
  background-color: #CEDEF4;
 width: 159.35px;
 height:52px;
 border: none;
 border-radius: 10px;
}
.product-section{
  margin-top: 150px;
}
.mockup{
 /* margin-left: 10px; */
 align-items: center;
}
.underline-4{
  width: 13%;
  position:relative;
  bottom: 30px;
 
}