.main-header h2 {
  font-family: 'Overlock';
  font-weight: 700;
  font-size:64px;
  line-height: 77px;
  color: rgba(4, 4, 21, 0.8);
}
.main-header-2{
    width: 60%;
    height: 300px;
}
.header-para{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: rgba(4, 4, 21, 0.6);
}
.vector-1{
  position:absolute;
  top: 200px;
  right: 20px;
}
.vector-2{
   position:absolute;
   top: 350px;
   right: 20px;
    
}
.vector-3{
  position:absolute;
 right:190px;
   
}
.vector-4{
    position: relative;
   left: 60px;
}
.underline-1{
  width: 33%;
  position: relative;
  bottom: 195px;
  right: 160px;
 
}