.main-header{
   font-size: 64px;
}
.header-para{
    font-size: smaller;
}
.main-header-2{
    width: 100%;
   
}
.Vector-1{
    position: relative;
    top:  200px
}
.Vector-2{
    position: relative;
    top:  400px
}
.Vector-3{
    position: relative;
    left: 400px;
    
}
.Vector-4{
    position: relative;
   left: 150px;
}
