.main-title{
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    color: #040415;
}
.talk-para{
   text-align: justify;
   font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    color: rgba(4, 4, 21, 0.6);
}
.sub-para1{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    color: rgba(4, 4, 21, 0.8);
}
.sub-para2{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(4, 4, 21, 0.8);

}
.ellipse6-img{
    width: 383.44px;
    height: 383.44px;
}
.ellipse5-img{
    width: 60px;
    height: 60px;
}
.quote-img{
    width: 30px;
    height:30px;
}
.underline-13{
    width: 15%;
    position:relative;
    bottom: 80px;
   
  }