.main-container{
    margin-top: 80px;
  
}
.main-title{
    font-family: 'Overlock';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    color: rgba(4, 4, 21, 0.8);
}
.underline-2{
    width: 15%;
    position:relative;
    bottom: 85px;
   
  }